<div class="doc-sidebar col-md-2 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
        <nav class="nav doc-menu flex-column sticky">
            <a class="nav-link" href="#examples-section">Getting Started</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link" href="/installation.html">Installation</a>
                <a class="nav-link" href="/directory-structure.html">App Structure</a>
                <a class="nav-link" href="/deployment.html">Deployment</a>
            </nav>
        </nav>
    </div>
</div>